[Unit]
Description=Star Wars Bot Dashboard
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/sw_announcement_bot
ExecStart=/home/ubuntu/sw_announcement_bot/venv/bin/gunicorn --workers 2 --threads 2 --timeout 60 --bind 127.0.0.1:5000 dashboard.app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
